@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Harmonizer palette */

    --color-red-100: oklch(0.97 0.02 20);
    --color-red-200: oklch(0.92 0.05 20);
    --color-red-300: oklch(0.86 0.08 20);
    --color-red-400: oklch(0.8 0.12 20);
    --color-red-500: oklch(0.72 0.17 20);
    --color-red-600: oklch(0.56 0.13 20);
    --color-red-700: oklch(0.46 0.1 20);
    --color-red-800: oklch(0.32 0.07 20);
    --color-red-900: oklch(0 0 20);

    --color-mustard-100: oklch(0.96 0.02 90);
    --color-mustard-200: oklch(0.92 0.05 90);
    --color-mustard-300: oklch(0.85 0.08 90);
    --color-mustard-400: oklch(0.79 0.12 90);
    --color-mustard-500: oklch(0.71 0.17 90);
    --color-mustard-600: oklch(0.54 0.13 90);
    --color-mustard-700: oklch(0.44 0.1 90);
    --color-mustard-800: oklch(0.31 0.07 90);
    --color-mustard-900: oklch(0 0 90);

    --color-turquoise-100: oklch(0.96 0.02 180);
    --color-turquoise-200: oklch(0.91 0.05 180);
    --color-turquoise-300: oklch(0.84 0.08 180);
    --color-turquoise-400: oklch(0.77 0.12 180);
    --color-turquoise-500: oklch(0.68 0.17 180);
    --color-turquoise-600: oklch(0.52 0.13 180);
    --color-turquoise-700: oklch(0.43 0.1 180);
    --color-turquoise-800: oklch(0.3 0.07 180);
    --color-turquoise-900: oklch(0 0 180);

    --color-azure-100: oklch(0.96 0.02 250);
    --color-azure-200: oklch(0.92 0.05 250);
    --color-azure-300: oklch(0.85 0.08 250);
    --color-azure-400: oklch(0.79 0.12 250);
    --color-azure-500: oklch(0.7 0.17 250);
    --color-azure-600: oklch(0.54 0.13 250);
    --color-azure-700: oklch(0.44 0.1 250);
    --color-azure-800: oklch(0.31 0.07 250);
    --color-azure-900: oklch(0 0 250);

    --color-fuchsia-100: oklch(0.97 0.02 320);
    --color-fuchsia-200: oklch(0.92 0.05 320);
    --color-fuchsia-300: oklch(0.86 0.08 320);
    --color-fuchsia-400: oklch(0.8 0.12 320);
    --color-fuchsia-500: oklch(0.73 0.17 320);
    --color-fuchsia-600: oklch(0.56 0.13 320);
    --color-fuchsia-700: oklch(0.46 0.1 320);
    --color-fuchsia-800: oklch(0.32 0.07 320);
    --color-fuchsia-900: oklch(0 0 320);

    --color-flamingo-100: oklch(0.97 0.02 360);
    --color-flamingo-200: oklch(0.92 0.05 360);
    --color-flamingo-300: oklch(0.86 0.08 360);
    --color-flamingo-400: oklch(0.8 0.12 360);
    --color-flamingo-500: oklch(0.73 0.17 360);
    --color-flamingo-600: oklch(0.56 0.13 360);
    --color-flamingo-700: oklch(0.46 0.1 360);
    --color-flamingo-800: oklch(0.32 0.07 360);
    --color-flamingo-900: oklch(0 0 360);
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
